
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/*
    EarthBlue: #0000A0
    Cranberry: #9F000F
    DuckyYellow: #FFD801
    white: #0000
*/
:root {
    --black: #000;
    --purple: #7510F7;
    --purpleLight: #B68DEC;
    /* --blueDark: #203864; */
    --blueDark: #003b59 ;
    --greyLight: #EEE;
    --blackLight: #707070;
    --yellowCompl: #f7b610;
}

/* ------ Header -------- */
.body {
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
    display: inherit;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.header {
    border: 3px solid var(--black);
    border-bottom: initial;
    display: flex;
    padding: 10px 0;
    height: 70px;
}

.header__logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.header__img {
    width: 50px;
}

.header__nav {
    width: 70%;
}

.header__ul {
    height: 100%;
}

.header__li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.header__btnSayHello {
    border: 2px solid var(--purple);
    /* padding: 10px 20px; */
    border-radius: 30px;
    color: var(--purple);
    font-weight: 500;
    transition: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2.5em;
}
.header__btnSayHello:hover {
    color: white;
    background-color: var(--purple);
    transition: .8s;
    width: 6.5em;
    height: 2.3em;

}
/* ----- Main ----- */
.main {
    border-top: initial;
    border: 3px solid var(--black);
    border-bottom: initial;
}
/* Hero */
.hero {
    width: 100%;
    height: 600px;
    border-top: initial;
    border-bottom: initial;
}

.hero__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    font-family: 'Play', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.hero__subtitle {
    margin-top: 10px;
}

.hero__imgHero {
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.about {
    background-color: var(--blueDark);
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--black); 
    padding: 80px 50px;
}

.about__text {
    color: white;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: .5px;
    font-size: 20px;
    text-align: center;
}

.experience {
    /* border: 3px solid var(--purple); */
    border-radius: 8px;
    text-align: center;
    color: var(--blackLight);
    margin: 80px 3em;
    padding: 20px 0;
    box-shadow: 0 0 10px var(--purple), 0 0 40px var(--purpleLight);
    transition: .3s;
}

.experience__title {
    font-family: 'Play', sans-serif;
}

.experience__container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}


#slider{
    overflow: hidden;
    width: 500px;
    height: auto;
    border: 1px solid #F2F3F4;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0#F2F3F4;
}

#slider figure{
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 10%;
    float: left;
}

#slider p {
    padding: 0 2px;
}
 

@keyframes slider{
    0% {
        left: 0;
    } 
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    } 
    50% {
        left: -200%;
    } 
    70% {
        left: -200%;
    } 
    75% {
        left: -300%;
    } 
    95% {
        left: -300%;
    } 
}



 

.companies {
    background-color: var(--greyLight);
    color: var(--blackLight);
    text-align: center;
    padding: 50px 0;
    margin-top: 140px;
}

.companies__container{
    /* border: 3px solid red; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.companies__containerImg {
    margin-top: 20px;
    width: 200px;
}

.companies__containerImg-img {
    width: 150px;
    /* border: .5px solid var(--blackLight); */
}



/* --- Footer --- */
.space {
    border: 3px solid var(--black);
    height: 140px;
    border-top: initial;
    border-bottom: initial;
}

.footer {
    background: var(--purple);
    border: 3px solid var(--black);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

.footer__container-img {
    width: 200px;
    height: 200px;
}

.footer__container-subtitle {
    font-weight: 300;
    font-family: 'Play', sans-serif;
    margin-top: 20px;
}

.footer__refs {
    margin-top: 70px;
    text-shadow: 4px 4px 3px black;
}
.footer__container-email {
    color: white;
    font-size: 40px;
    margin-right: 20px;
}
.footer__container-email:hover {
    color: white;
    font-size: 40px;
    margin-right: 20px;
    text-shadow: 3px 3px 2px black;
}
.footer__container-whatsapp {
    color: white;
    font-size: 40px;
}
.footer__container-whatsapp:hover {
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 2px black;
}




/* --- Icon moon --- */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?cc9k2');
    src:  url('fonts/icomoon.eot?cc9k2#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?cc9k2') format('truetype'),
      url('fonts/icomoon.woff?cc9k2') format('woff'),
      url('fonts/icomoon.svg?cc9k2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-envelop:before {
    content: "\e945";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-facebook:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }
